/* A site's UI has two components: (1) Visual elements, (2) Positioning of elements.
Flexbox was introduced to create dynamic page layouts. Placing "display: flex;" on an
element allows you to use other flex properties */

<style>
  #box-container {
    height: 500px;
    display: flex;    
  }

  #box-1 {
    background-color: dodgerblue;
    width: 50%;
    height: 50%;
  }

  #box-2 {
    background-color: orangered;
    width: 50%;
    height: 50%;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>
