/* "order" property - tells CSS the order of how flex items appear in the flex
container. By default items are arranged in the same order they appear in the
HTML, in accordance with the row/column settings of the flex container. The order
property takes numbers as values, and negative numbers can be used.  */

<style>
  #box-container {
    display: flex;
    height: 500px;
  }
  #box-1 {
    background-color: dodgerblue;
    order: 2;
    height: 200px;
    width: 200px;
  }

  #box-2 {
    background-color: orangered;
    order: 1;
    height: 200px;
    width: 200px;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>
