/* Adding "display: flex" to an element turns it into a flex container - allows you
to align children into rows or columns by adding "flex-direction" property to the
parent. Default flex-direction is row and options include: row, column, row-reverse
and column-reverse */

<style>
  #box-container {
    display: flex;
    height: 500px;
    flex-direction: row-reverse;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 50%;
    height: 50%;
  }

  #box-2 {
    background-color: orangered;
    width: 50%;
    height: 50%;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>
