/* In addition to pixels(px), several other length unit options exist. The two
main types are (1) Absolute - tie to physical units of length (e.g. in & mm), and
(2) Relative - units relative to another length value (e.g. em or rem). ems are
based on the SIZE OF AN ELEMENT'S FONT (or the parent's font-size if used to set
the font-size property itself)  */

<style>
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 20px 40px 20px 40px;
  }

  .red-box {
    background-color: red;
    margin: 20px 40px 20px 40px;
    padding: 1.5em;
  }

  .green-box {
    background-color: green;
    margin: 20px 40px 20px 40px;
  }
</style>
<h5 class="injected-text">margin</h5>

<div class="box yellow-box">
  <h5 class="box red-box">padding</h5>
  <h5 class="box green-box">padding</h5>
</div>
