/* You can style your body element just like any other HTML element, and all your
other elements will INHERIT your body's styles */

<style>

  body {
    background-color: black;
    color: green;
    font-family: monospace;
  }

</style>

<h1>Hello World</h1>
